{% extends 'layout.njk' %}

{% block header %}
    {% include "../header.njk" %}
{% endblock header %}

{% block content %}
    <div class="container">
        {% include "./list.njk" %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="/js/navigation.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/editRedirect.js"></script>
    <script src="/js/deleteModalAction.js"></script>
{% endblock scripts %}