{% extends 'layout.njk' %}

{% block header %}
    {% include "../header.njk" %}
{% endblock header %}

{% block content %}
    {% include "../body.njk" %}
{% endblock content %}

{% block scripts %}
    <script src="/js/navigation.js"></script>
{% endblock scripts %}