{% import '../components/profileList.njk' as profile%}

<div class="list">
    <div class="list__header">
        <div class="list__row">
            <div class="list__column">ID</div>
            <div class="list__column">Member</div>
            <div class="list__column">Modalities</div>
            <div class="list__column">Week Routine</div>
            <div class="list__column">Shifts</div>
            <div class="list__column justify-end"><a href="/members/create" title="Add new member" class="button button--rounded button--primary">{% include "../icons/roundedPlus.njk" %}</a></div>
        </div>
    </div>

    <div class="list__body">
        {% for member in members %}
            <a href="/members/{{ member.id }}/view" class="list__row" item-person type="member" id="{{ member.id }}">
                <div class="list__column">{{ member.id }}</div>
                <div class="list__column">{{ profile.profileList('profile_none.svg') }}<div class="list__uppercase ml-md">{{ member.fullName }}</div></div>
                <div class="list__column">
                    {% if member.modalities.length > 3 %}
                        {% for i in range(0, 3) %}
                            <div class="tag mr-sm"> {{ member.modalities[i] }} </div>
                            {% if loop.last %} <div class="tag mr-sm"> +{{ member.modalities.length - 3 }} </div> {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for i in range(0, member.modalities.length) %}
                            <div class="tag mr-sm"> {{ member.modalities[i] }} </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="list__column">
                    {% if member.routine.length > 3 %}
                        {% for i in range(0, 3) %}
                            {{ member.routine[i] }}{% if loop.index < 3 %} - {% endif %}
                            {% if loop.last %} <div class="tag tag--default ml-xs"> +{{ member.routine.length - 3 }} </div> {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for i in range(0, member.routine.length) %}
                            {{ member.routine[i] }}{% if loop.index < member.routine.length %} - {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="list__column">
                    {% if member.shift.length > 2 %}
                        {% for i in range(0, 2) %}
                            {{ member.shift[i] }}{% if loop.index < 2 %}, {% endif %}
                            {% if loop.last %} <div class="tag tag--default ml-xs"> +{{ member.shift.length - 2 }} </div> {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for i in range(0, member.shift.length) %}
                            {{ member.shift[i] }}{% if loop.index < member.shift.length %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="list__column list__column--border-left justify-end">
                    <div class="dropdown-wrapper">
                        {% include "../components/buttonMore.njk" %}
                        <div class="dropdown">
                            <div class="dropdown__item" edit-button>
                                <div class="dropdown__icon">{% include "../icons/pencil.njk" %}</div>
                                <div class="dropdown__label">Edit</div>
                            </div>
                            <div class="dropdown__item is-danger" delete-button>
                                <div class="dropdown__icon">{% include "../icons/trash.njk" %}</div>
                                <div class="dropdown__label">Delete</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

        {# <div class="list__row">
            <div class="list__column">8547</div>
            <div class="list__column">{{ profile.profileList('rachel-smith-profile.png') }}<div class="list__uppercase ml-md">Rachel Smith</div></div>
            <div class="list__column"><div class="tag mr-sm">crossfit</div><div class="tag">swimming</div></div>
            <div class="list__column">Afternoon</div>
            <div class="list__column">Tue - Thu - Sat</div>
            <div class="list__column list__column--border-left justify-end">
                <div class="dropdown-wrapper">
                    {% include "./buttonMore.njk" %}
                    <div class="dropdown">
                        <div class="dropdown__item">
                            <div class="dropdown__icon">{% include "../icons/pencil.njk" %}</div>
                            <div class="dropdown__label">Edit</div>
                        </div>
                        <div class="dropdown__item is-danger" delete-button>
                            <div class="dropdown__icon">{% include "../icons/trash.njk" %}</div>
                            <div class="dropdown__label">Delete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list__row">
            <div class="list__column">5896</div>
            <div class="list__column">{{ profile.profileList('joe-mustang-profile.png') }}<div class="list__uppercase ml-md">Joe Mustang</div></div>
            <div class="list__column"><div class="tag mr-sm">bodybuild</div><div class="tag">crossfit</div></div>
            <div class="list__column">Morning, Evening</div>
            <div class="list__column">Fri - Sat</div>
            <div class="list__column list__column--border-left justify-end">
                <div class="dropdown-wrapper">
                    {% include "./buttonMore.njk" %}
                    <div class="dropdown">
                        <div class="dropdown__item">
                            <div class="dropdown__icon">{% include "../icons/pencil.njk" %}</div>
                            <div class="dropdown__label">Edit</div>
                        </div>
                        <div class="dropdown__item is-danger" delete-button>
                            <div class="dropdown__icon">{% include "../icons/trash.njk" %}</div>
                            <div class="dropdown__label">Delete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list__row">
            <div class="list__column">3578</div>
            <div class="list__column">{{ profile.profileList('lara-crossfit-profile.png') }}<div class="list__uppercase ml-md">Lara Crossfit</div></div>
            <div class="list__column"><div class="tag mr-sm">bodybuild</div><div class="tag mr-sm">crossfit</div><div class="tag">box</div></div>
            <div class="list__column">Night</div>
            <div class="list__column">Mon - Fri - Sat</div>
            <div class="list__column list__column--border-left justify-end">
                <div class="dropdown-wrapper">
                    {% include "./buttonMore.njk" %}
                    <div class="dropdown">
                        <div class="dropdown__item">
                            <div class="dropdown__icon">{% include "../icons/pencil.njk" %}</div>
                            <div class="dropdown__label">Edit</div>
                        </div>
                        <div class="dropdown__item is-danger" delete-button>
                            <div class="dropdown__icon">{% include "../icons/trash.njk" %}</div>
                            <div class="dropdown__label">Delete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list__row">
            <div class="list__column">1598</div>
            <div class="list__column">{{ profile.profileList('yung-lee-profile.png') }}<div class="list__uppercase ml-md">Yung Lee</div></div>
            <div class="list__column"><div class="tag mr-sm">karate</div><div class="tag mr-sm">muay tai</div><div class="tag">jui jitsu</div></div>
            <div class="list__column">Afternoon, Night</div>
            <div class="list__column">Thu - Fri - Sat</div>
            <div class="list__column list__column--border-left justify-end">
                <div class="dropdown-wrapper">
                    {% include "./buttonMore.njk" %}
                    <div class="dropdown">
                        <div class="dropdown__item">
                            <div class="dropdown__icon">{% include "../icons/pencil.njk" %}</div>
                            <div class="dropdown__label">Edit</div>
                        </div>
                        <div class="dropdown__item is-danger" delete-button>
                            <div class="dropdown__icon">{% include "../icons/trash.njk" %}</div>
                            <div class="dropdown__label">Delete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> #}
    </div>
</div>

{% include '../components/modal.njk' %}