.nav {
    display: flex;

    &__item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
            margin-right: 45px;
        }

        &:hover {
            .nav__icon {
                svg {
                    fill: $link-color-hover;
                }
            }

            .nav__link{
                color: $link-color-hover;
            }
        }

        &.active {
            .nav__icon {
                svg {
                    fill: $link-color-active;
                }
            }

            .nav__link{
                color: $link-color-active;

                &::before {
                    background: $primary;
                }
            }
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-bottom: 4px;

        svg {
            fill: $link-color;
            transition: all .1s ease-in-out;
        }
    }
    
    &__link {
        font-size: 14px;
        font-weight: $font-weight-semibold;
        color: $link-color;
        display: flex;
        justify-content: center;
        transition: all .1s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 30px;
            height: 4px;
            display: block;
            background: $border-color;
        }
    }
}