.dropdown {
  &-wrapper {
    position: relative;
  }

  position: absolute;
  background: $white;
  min-width: 180px;
  border: 1px solid $border-color;
  right: 0;
  top: calc(100% - 4px);
  font-size: 13px;
  border-radius: 4px;
  display: none;
  z-index: 9;

  &-button {
    display: block;
    position: relative;
    z-index: 0;
  }

  &.data-show {
    display: block;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 14px;

    &:not(:last-child){
      border-bottom: 1px solid $border-color;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;

    svg path{
      fill: $secondary;
    }

    &.is-danger {
     svg path {
       fill: $danger;
     } 
    }
  }

  &__label {
    font-size: $font-size-md;
    font-weight: $font-weight-semibold;
    color: $secondary;

    &.is-danger {
      color: $danger;
    }
  }
}

