.form {
    &__row {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__column {
        width: 100%;
        
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__label {
        display: flex;
        font-size: $font-size-md;
        margin-bottom: 8px;
    }

    &__radio,
    &__checkbox {
        &--item {
            width: 100%;

            &>[class^="form__input"] {
                cursor: pointer;
            }

            &.checked {
                [class^="form__input"] {
                    border: 1px solid $primary !important;
                    background: $primary-lighter;
                    color: $black;
                }

                .form__icon {
                    svg {
                        fill: $black;
                    }
                }
            }

            &:first-child {
                [class^="form__input"] {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: none;
                }
            }

            &:last-child {
                [class^="form__input"] {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            &:not(:first-child):not(:last-child) {
                [class^="form__input"] {
                    border-radius: 0;
                    border-right: none;
                }
            }
        }
    }

    &__input {
        &--text {
            width: 100%;
            border: 1px solid $border-color;
            border-radius: 3px;
            padding: 12px 16px;
            font-size: $font-size-md;

            &::placeholder {
                color: $gray-400;
            }
        }

        &--radio,
        &--checkbox {
            @extend .form__label;
            color: $gray-400;
            margin: 0;
            line-height: normal;
            border: 1px solid $border-color;
            background: $white;
            border-radius: 3px;
            padding: 12px 16px;
            justify-content: center;
        }

        &--unified {
            display: flex;

            [class^="form__input"]:not(.form__input--radio):not(.form__input--checkbox) {
                &:first-child {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: none;
                }

                &:last-child {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &:not(:first-child):not(:last-child) {
                    border-radius: 0;
                    border-right: none;
                }
            }

            &-group {
                @extend .form__input--unified;
                flex-direction: column;

                .unified-group__row {
                    display: flex;
                    width: 100%;

                    &:not(:last-child) {
                        [class^="form__input"] {
                            border-bottom: none;
                        }
                    }

                    &:not(:first-child):not(:last-child) {
                        [class^="form__input"] {
                            border-radius: 0;
                        }
                    }

                    &:first-child {
                        .form__radio--item,
                        .form__checkbox--item {
                            &:first-child {
                                [class^="form__input"] {
                                    border-bottom-left-radius: 0;
                                }
                            }
                            &:last-child {
                                [class^="form__input"] {
                                    border-bottom-right-radius: 0;
                                }
                            }
                        }
                    }

                    &:last-child {
                        .form__radio--item,
                        .form__checkbox--item {
                            &:first-child {
                                [class^="form__input"] {
                                    border-top-left-radius: 0;
                                }
                            }
                            &:last-child {
                                [class^="form__input"] {
                                    border-top-right-radius: 0;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    &__hidden {
        display: none;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;

        svg {
            width: 100%;
            height: auto;
            fill: #b9b9b9;
        }
    }

    &__submit {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}