.view {
    padding-top: 16px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: 176px 1fr 300px;

    &__data {
        padding-left: 52px;
        padding-right: 52px;
    }
}