.tag {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid $primary;
    line-height: 1;
    border-radius: 15px;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    color: $link-color;
    letter-spacing: .5px;
    cursor: default;
}