.nav {
    display: flex;
    align-items: stretch;
    height: 100px;

    &-wrapper {
        display: flex;
        align-items: center;
    }

    &__item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            margin-right: 32px;
        }

        &:hover {
            .nav__icon {
                svg {
                    fill: $link-color-hover;
                }
            }

            .nav__link{
                color: $link-color-hover;
            }
        }

        &.active {
            .nav__icon {
                svg {
                    fill: $link-color-active;
                }
            }

            .nav__link{
                color: $link-color-active;

                &::before {
                    background: $primary;
                }
            }
        }
    }

    &__icon {
        width: 26px;
        height: 26px;
        margin-bottom: 4px;

        svg {
            fill: $link-color;
            transition: all .1s ease-in-out;
        }
    }
    
    &__link {
        font-size: 14px;
        font-weight: $font-weight-semibold;
        color: $link-color;
        display: flex;
        justify-content: center;
        transition: all .1s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 30px;
            height: 4px;
            display: block;
            background: $border-color;
        }
    }

    &__profile {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 24px;
        margin-top: -12px;
        margin-bottom: -12px;
        margin-left: 24px;
        border-left: 1px solid $border-color;
    }
}