.button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 12px 36px;
    letter-spacing: .3px;
    font-size: $font-size-md;
    cursor: pointer;
    transition: all .1s ease-in-out;

    &--rounded {
        border-radius: 50px;
        width: 40px;
        height: 40px;
        padding: 12px;

        svg path{
            fill: $link-color;
            transition: all .1s ease-in-out;
        }

        &:hover {
            svg path{
                fill: $link-color-hover;
            }
        }
    }

    &--ghost {
        border: 1px solid $gray-400;
        color: $gray-400;

        &:hover {
            color: $link-color;
            border-color: $link-color;
        }
    }

    &--primary {
        background: $primary-light;

        &:hover {
            background: $primary-light;
        }
    }

    &--danger {
        background: $danger;
        color: $white;

        &:hover {
            background: $danger-hover;
        }

        svg path {
            fill: $white;
        }
    }

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    &--more {
        width: 30px;
        height: 30px;
        padding: 0;
        position: relative;
        z-index: 0;

        svg {
            position: relative;
            z-index: -1;
        }
    }
}