.button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--rounded {
        border-radius: 50px;
        width: 36px;
        height: 36px;
        padding: 10px;
    }

    &--primary {
        background: $primary-light;
    }

    &--more {
        width: 30px;
        height: 30px;
    }
}