.button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--rounded {
        border-radius: 50px;
        width: 40px;
        height: 40px;
        padding: 12px;

        svg path{
            fill: $link-color;
            transition: all .1s ease-in-out;
        }

        &:hover {
            svg path{
                fill: $link-color-hover;
            }
        }
    }

    &--primary {
        background: $primary-light;

        &:hover {
            background: $primary-light;
        }
    }

    &--more {
        width: 30px;
        height: 30px;
    }
}