.profile {
    position: relative;
    width: 60px;
    height: 68px;

    &__border svg {
        position: absolute;
        z-index: 9;
        margin: -2px 0 0 -2px;

        linearGradient {
            stop:first-child {
                stop-color: $gray-400 !important;
            }
            stop:last-child {
                stop-color: $gray-300 !important;
            }
        }
    }

    &__mask {
        width: 55px;
        height: 65px;
        overflow: hidden;
        visibility: hidden;
        transform: rotate(120deg);
        cursor: pointer;
    
        &-inner{
            overflow: hidden;
            width: 100%;
            height: 100%;
            transform: rotate(-60deg);
        }
    }
    
    &__image{
        background-size: 105%;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        visibility: visible;
        transform: rotate(-60deg);
    }

    &__more {
        position: absolute;
        bottom: -4px;
        right: 5px;
        z-index: 99;
        width: 24px;
        height: 24px;
    }

    &--nav {
        width: 60px;
        height: 68px;
    }

    &--view {
        width: 180px;
        height: 188px;

        .profile {
            &__border {
                svg path {
                    stroke-width: 1.2;
                }
            }

            &__mask {
                width: 166px;
                height: 194px;
                left: 5px;
                position: relative;
                top: 5px;
            }

            &__image{
                padding: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #efefef;
            }

            &__more {
                position: absolute;
                bottom: -2px;
                right: 30px;
                z-index: 99;
                width: 36px;
                height: 36px;
            }
        }
    }

    &--upload {
        width: 140px;
        height: 148px;

        .profile {
            &__mask {
                width: 128px;
                height: 148px;
                left: 5px;
                position: relative;
                top: 5px;
            }

            &__image{
                padding: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #efefef;

                svg path {
                    fill: $gray-400;
                }
            }
        }
    }

    &--list {
        width: 35px;
        height: 42px;

        .profile {
            &__mask {
                width: 35px;
                height: 44px;            
            }

            &__border svg {
                margin: 0px 0 0 -4px;
                width: 44px;
                height: 44px;

                path {
                    stroke-width: 3;
                }
            }

            &__image{
                background-size: 100%;
            }
        }
    }
}