.profile {
    position: relative;
    width: 55px;
    height: 62px;

    &__border svg {
        position: absolute;
        z-index: 9;
        margin: -2px 0 0 -2px;
    }

    &__mask {
        width: 52px;
        height: 60px;
        overflow: hidden;
        visibility: hidden;
        transform: rotate(120deg);
        cursor: pointer;
    
        &-inner{
            overflow: hidden;
            width: 100%;
            height: 100%;
            transform: rotate(-60deg);
        }
    }
    
    &__image{
        background-size: 105%;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        visibility: visible;
        transform: rotate(-60deg);
    }
}