.list {
    &__row {
        display: grid;
        grid-template-columns: 52px 1fr 292px 164px 190px 68px;
        padding-right: 16px;
        padding-left: 16px;
        
        .list {
            &__column {
                display: flex;
                align-items: center;
                padding: 8px;
            }
        }
    }

    &__header {
        .list {
            &__column {
                font-weight: $font-weight-semibold;
                font-size: $font-size-sm;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $secondary;
            }
        }
    }

    &__body {
        margin-top: 8px;

        .list {
            &__row {
                background: $white;
                border: 1px solid $border-color;
                border-radius: 4px;
                margin-bottom: 6px;
                cursor: pointer;
                transition: all .1s ease-in-out;

                &:hover {
                    border-color: $primary-light;
                    background: $primary-lighter;
                }
            }
            &__column {
                font-weight: $font-weight-semibold;
                font-size: $font-size-md;
                letter-spacing: .5px;
                color: $link-color;
                display: flex;
                align-items: center;

                &--border {
                    &-left {
                        border-left: 1px solid $border-color;
                    }

                    &-right {
                        border-right: 1px solid $border-color;
                    }
                }
            }

            &__uppercase {
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}