.icon {
    display: flex;
    width: 16px;
    height: 16px;

    &-lg {
        display: flex;
        width: 32px;
        height: 32px;
    }

    svg {
        width: 100%;
        height: auto;
        fill: inherit;
    }
}