<header class="header">
    <div class="container">
        <div class="topbar">
            <div class="logo"><a href="/instructors">{% include "./icons/logo.njk" %}</a></div>

            {% include "./components/search.njk" %}

            <div class="nav-wrapper">
                {% include "./components/nav.njk" %}
                
                <div class="nav__profile">
                    {% include "./components/profileNav.njk" %}
                </div>
            </div>
        </div>
    </div>
</header>