{% extends 'layout.njk' %}

{% block header %}
    {% include "./header.njk" %}
{% endblock header %}

{% block content %}
    {% include "./body.njk" %}
{% endblock content %}

{% block scripts %}
    <script>
        const buttons = Array.from(document.querySelectorAll('.dropdown-button'));

        for (button of buttons) {
            let buttonPopper = button;
            toggleDataShow(buttonPopper);
        }

        function toggleDataShow(button) {
            button.addEventListener("click", function() {
                let dropdownContent = this.nextElementSibling;

                if (dropdownContent.classList.contains('data-show')) {
                    dropdownContent.classList.remove("data-show");
                } else {
                    let dropdowns = document.getElementsByClassName("dropdown");

                    for (dropdown of dropdowns) {
                        if (dropdown.classList.contains('data-show')) {
                            dropdown.classList.remove('data-show');
                        }
                    }
                    dropdownContent.classList.add("data-show");
                }
            });
        }

        
        window.onclick = function(event) {
            if (!event.target.matches('.dropdown-button')) {
                let dropdowns = document.getElementsByClassName("dropdown");

                for (dropdown of dropdowns) {
                    if (dropdown.classList.contains('data-show')) {
                        dropdown.classList.remove('data-show');
                    }
                }
            }
        }


        let deleteButtons = Array.from(document.querySelectorAll('[delete-button]'));
        let modalCancelButton = document.querySelector('[modal-cancel-button]');

        modalCancelButton.addEventListener("click", toggleModal);

        for (deleteButton of deleteButtons) {
            deleteButton.addEventListener("click", toggleModal);
        }

        function toggleModal() {
            let modalWrapper = document.querySelector('.modal-wrapper');
            modalWrapper.classList.toggle("show");
        }
    </script>
{% endblock scripts %}