{% extends 'layout.njk' %}

{% block header %}
    {% include "./header.njk" %}
{% endblock header %}

{% block content %}
    {% include "./body.njk" %}
{% endblock content %}

{% block scripts %}
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script>
        const buttons = Array.from(document.querySelectorAll('.button-dropdown'));
        //const tooltip = Array.from(document.querySelectorAll('.dropdown'));//

        //console.log(button)

        //function show() {
        //    tooltip.setAttribute('data-show', '');
        //}

        //function hide() {
        //    tooltip.removeAttribute('data-show');
        //}

        //const showEvents = ['click', 'focus'];

        //showEvents.forEach(event => {
        //    button.addEventListener(event, show);
        //});

        //hideEvents.forEach(event => {
        //    button.addEventListener(event, hide);
        //});

        for (button of buttons) {
            let buttonPopper = button;
            let dropdownContent = button.nextSibling;
            console.log(buttonPopper);
            console.log(dropdownContent);
        }        
            //Popper.createPopper(button, tooltip);

    </script>
{% endblock scripts %}