{% extends 'layout.njk' %}

{% block header %}
    {% include "./header.njk" %}
{% endblock header %}

{% block content %}
    {% include "./create.njk" %}
{% endblock content %}

{% block scripts %}
    <script src="/js/scripts.js"></script>
{% endblock scripts %}