{% extends '../layout.njk' %}

{% block header %}
    {% include "../header.njk" %}
{% endblock header %}

{% block content %}
<div class="container">
<form class="register" method="POST" action="/instructors" >
    <div class="register__column pt-xl">{% include "../components/profileUpload.njk" %}</div>
    <div class="register__column form">
        <h1 class="form__title">Register a new instructor</h1>

        {% include "./fields.njk" %}
        
        <div class="form__row form__submit mt-md">
            <div class="form__column display-flex justify-end">
                <button class="button button--primary" type="submit">Register</button>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock content %}

{% block scripts %}
    <script src="/js/scripts.js"></script>
{% endblock scripts %}