{% extends 'layout.njk' %}

{% block header %}
    {% include "../header.njk" %}
{% endblock header %}

{% block content %}
    <div class="container">
        {% import "../components/list.njk" as list %}
        {{ list.registrationData(
            labelID = 'ID',
            labelPerson = 'Instructor',
            labelModalities = 'Modalities',
            labelRoutine = 'Week Routine',
            labelShifts = 'Shifts',
            partUrl = 'instructors',
            personType = 'instructor',
            dataObject = instructors
        ) }}
    </div>

    {% import '../components/modal.njk' as modal %}
    {{ modal.action('instructors') }}
{% endblock content %}

{% block scripts %}
    <script src="/js/navigation.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/editRedirect.js"></script>
    <script src="/js/deleteModalAction.js"></script>
{% endblock scripts %}