{% import './profileList.njk' as profile%}

<div class="list">
    <div class="list__header">
        <div class="list__row">
            <div class="list__column">ID</div>
            <div class="list__column">Instructor</div>
            <div class="list__column">Modalities</div>
            <div class="list__column">Week Routine</div>
            <div class="list__column">Shifts</div>
            <div class="list__column justify-end"><a href="/instructor/create" title="Add new instructor" class="button button--rounded button--primary">{% include "../icons/roundedPlus.njk" %}</a></div>
        </div>
    </div>

    <div class="list__body">
        {% for instructor in instructors %}
            <a href="/instructor/view/{{ instructor.id }}" class="list__row" instructor-id id="{{ instructor.id }}">
                <div class="list__column">{{ instructor.id }}</div>
                <div class="list__column">{{ profile.profileList('john-armstrong-profile.png') }}<div class="list__uppercase ml-md">{{ instructor.fullName }}</div></div>
                <div class="list__column">
                    {% for modality in instructor.modalities %}
                        <div class="tag mr-sm"> {{ modality }} </div>
                    {% endfor %}
                </div>
                <div class="list__column">
                    {% for routine in instructor.routine %}
                        {{ routine }}{% if loop.index < instructor.routine.length %} - {% endif %}
                    {% endfor %}
                </div>
                <div class="list__column">
                    {% for shift in instructor.shift %}
                        {{ shift }}{% if loop.index < instructor.shift.length %},{% endif %}
                    {% endfor %}
                </div>
                <div class="list__column list__column--border-left justify-end">
                    <div class="dropdown-wrapper">
                        {% include "./buttonMore.njk" %}
                        <div class="dropdown">
                            <div class="dropdown__item" edit-button>
                                <div class="dropdown__icon">{% include "../icons/pencil.njk" %}</div>
                                <div class="dropdown__label">Edit</div>
                            </div>
                            <div class="dropdown__item is-danger" delete-button>
                                <div class="dropdown__icon">{% include "../icons/trash.njk" %}</div>
                                <div class="dropdown__label">Delete</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

        <div class="list__row">
            <div class="list__column">8547</div>
            <div class="list__column">{{ profile.profileList('rachel-smith-profile.png') }}<div class="list__uppercase ml-md">Rachel Smith</div></div>
            <div class="list__column"><div class="tag mr-sm">crossfit</div><div class="tag">swimming</div></div>
            <div class="list__column">Afternoon</div>
            <div class="list__column">Tue - Thu - Sat</div>
            <div class="list__column list__column--border-left justify-end">
                <div class="dropdown-wrapper">
                    {% include "./buttonMore.njk" %}
                    <div class="dropdown">
                        <div class="dropdown__item">
                            <div class="dropdown__icon">{% include "../icons/pencil.njk" %}</div>
                            <div class="dropdown__label">Edit</div>
                        </div>
                        <div class="dropdown__item is-danger" delete-button>
                            <div class="dropdown__icon">{% include "../icons/trash.njk" %}</div>
                            <div class="dropdown__label">Delete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list__row">
            <div class="list__column">5896</div>
            <div class="list__column">{{ profile.profileList('joe-mustang-profile.png') }}<div class="list__uppercase ml-md">Joe Mustang</div></div>
            <div class="list__column"><div class="tag mr-sm">bodybuild</div><div class="tag">crossfit</div></div>
            <div class="list__column">Morning, Evening</div>
            <div class="list__column">Fri - Sat</div>
            <div class="list__column list__column--border-left justify-end">
                <div class="dropdown-wrapper">
                    {% include "./buttonMore.njk" %}
                    <div class="dropdown">
                        <div class="dropdown__item">
                            <div class="dropdown__icon">{% include "../icons/pencil.njk" %}</div>
                            <div class="dropdown__label">Edit</div>
                        </div>
                        <div class="dropdown__item is-danger" delete-button>
                            <div class="dropdown__icon">{% include "../icons/trash.njk" %}</div>
                            <div class="dropdown__label">Delete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list__row">
            <div class="list__column">3578</div>
            <div class="list__column">{{ profile.profileList('lara-crossfit-profile.png') }}<div class="list__uppercase ml-md">Lara Crossfit</div></div>
            <div class="list__column"><div class="tag mr-sm">bodybuild</div><div class="tag mr-sm">crossfit</div><div class="tag">box</div></div>
            <div class="list__column">Night</div>
            <div class="list__column">Mon - Fri - Sat</div>
            <div class="list__column list__column--border-left justify-end">
                <div class="dropdown-wrapper">
                    {% include "./buttonMore.njk" %}
                    <div class="dropdown">
                        <div class="dropdown__item">
                            <div class="dropdown__icon">{% include "../icons/pencil.njk" %}</div>
                            <div class="dropdown__label">Edit</div>
                        </div>
                        <div class="dropdown__item is-danger" delete-button>
                            <div class="dropdown__icon">{% include "../icons/trash.njk" %}</div>
                            <div class="dropdown__label">Delete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list__row">
            <div class="list__column">1598</div>
            <div class="list__column">{{ profile.profileList('yung-lee-profile.png') }}<div class="list__uppercase ml-md">Yung Lee</div></div>
            <div class="list__column"><div class="tag mr-sm">karate</div><div class="tag mr-sm">muay tai</div><div class="tag">jui jitsu</div></div>
            <div class="list__column">Afternoon, Night</div>
            <div class="list__column">Thu - Fri - Sat</div>
            <div class="list__column list__column--border-left justify-end">
                <div class="dropdown-wrapper">
                    {% include "./buttonMore.njk" %}
                    <div class="dropdown">
                        <div class="dropdown__item">
                            <div class="dropdown__icon">{% include "../icons/pencil.njk" %}</div>
                            <div class="dropdown__label">Edit</div>
                        </div>
                        <div class="dropdown__item is-danger" delete-button>
                            <div class="dropdown__icon">{% include "../icons/trash.njk" %}</div>
                            <div class="dropdown__label">Delete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include './modal.njk' %}