<div class="list">
    <div class="list__header">
        <div class="list__column">ID</div>
        <div class="list__column">Instructor</div>
        <div class="list__column">Modalities</div>
        <div class="list__column">Shifts</div>
        <div class="list__column">Week Routine</div>
        <div class="list__column justify-end">Button</div>
    </div>
</div>