<div class="list">
    <div class="list__header">
        <div class="list__row">
            <div class="list__column">ID</div>
            <div class="list__column">Instructor</div>
            <div class="list__column">Modalities</div>
            <div class="list__column">Shifts</div>
            <div class="list__column">Week Routine</div>
            <div class="list__column justify-end"><button class="button button--rounded button--primary">{% include "../icons/roundedPlus.njk" %}</button></div>
        </div>
    </div>

    <div class="list__body">
        <div class="list__row">
            <div class="list__column">4583</div>
            <div class="list__column">{% include "./profileList.njk"%}<div class="list__uppercase ml-md">John Armstrong</div></div>
            <div class="list__column"><div class="tag mr-sm">bodybuild</div><div class="tag mr-sm">crossfit</div><div class="tag">swimming</div></div>
            <div class="list__column">Morning, Night</div>
            <div class="list__column">Mon - Wed - Fri</div>
            <div class="list__column justify-end"><div>more</div></div>
        </div>
    </div>
</div>