<div class="modal-wrapper">
    <div class="modal">
        <div class="modal__title">Are you sure you want to delete this instructor?</div>
        <div class="modal__subtitle">You can't undo this action.</div>

        <div class="modal__actions">
            <button class="button button--ghost" modal-cancel-button>Cancel</button>
            <button class="button button--danger"><div class="button__icon">{% include "../icons/trash.njk" %}</div>Delete</button>
        </div>
    </div>
</div>