<nav class="nav">
    <div class="nav__item active">
        <div class="nav__icon">
            {% include "../icons/diet.njk" %}
        </div>
        <div class="nav__link">
            Instructors
        </div>
    </div>

    <div class="nav__item">
        <div class="nav__icon">
            {% include "../icons/exercise.njk" %}
        </div>
        <div class="nav__link">
            Members
        </div>
    </div>
</nav>