<nav class="nav">
    <a href="/instructors" class="nav__item active">
        <div class="nav__icon">
            {% include "../icons/diet.njk" %}
        </div>
        <div class="nav__link">
            Instructors
        </div>
    </a>

    <a href="/members" class="nav__item">
        <div class="nav__icon">
            {% include "../icons/exercise.njk" %}
        </div>
        <div class="nav__link">
            Members
        </div>
    </a>
</nav>