<nav class="profile">
    <div class="profile__border">{% include "../icons/maskProfile.njk" %}</div>
    <div class="profile__mask">
        <div class="profile__mask-inner">
            <div class="profile__image" style="background-image: url(/img/john-armstrong.png);"></div>
        </div>
    </div>
    <div class="dropdown">
        <div class="round-dots">
            <span class="round-dot"></span>
            <span class="round-dot"></span>
            <span class="round-dot"></span>
        </div>
    </div>
</nav>