<nav class="profile profile--list">
    <div class="profile__border">{% include "../icons/maskProfile.njk" %}</div>
    <div class="profile__mask">
        <div class="profile__mask-inner">
            <div class="profile__image" style="background-image: url(/img/john-armstrong-profile.png);"></div>
        </div>
    </div>
</nav>