<nav class="profile profile--nav">
    <div class="profile__border">{% include "../icons/maskProfile.njk" %}</div>
    <div class="profile__mask">
        <div class="profile__mask-inner">
            <div class="profile__image" style="background-image: url(/img/john-armstrong.png);"></div>
        </div>
    </div>
    <div class="dropdown">
        <div class="profile__more">
            {% include "../icons/roundedMore.njk" %}
        </div>
    </div>
</nav>