<div class="profile profile--upload">
    <div class="profile__border">{% include "../icons/maskProfile.njk" %}</div>
    <div class="profile__mask">
        <div class="profile__mask-inner">
            <div class="profile__image">{% include "../icons/photograph.njk" %}</div>
        </div>
    </div>
</div>